# Using python:3.10.0-slim
mpi4py==4.0.0 #https://pypi.org/project/mpi4py/
numpy==1.26.4 #2.1.1
pandas==2.2.3
# numba==0.60.0 #Already in image
# coverage==7.6.1 # Auto-requirement
# torch==2.4.1 #Auto-requirement
# networkx==3.3 #Already in image
# pyyaml==6.0.2 #Already in image
# Cython==3.0.11 #Already in image
# repast4py==1.1.6 # Can't install from requirements.txt file...